[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autobahn = "*"
click = "*"
numpy = "*"
tqdm = "*"
requests = "*"
Pygame = "*"
prompt-toolkit = "*"

[dev-packages]
sphinx = "*"
recommonmark = "*"
sphinx_rtd_theme = "*"
pymongo = "*"
flask = "*"
flask-cors = "*"
flask-pymongo = "*"

[requires]
python_version = "3.7"
